<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumno</title>
    <link rel="icon" href="/images/escudo_solo.png">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="/images/nombre_solo.png">
        </a>
    </header>
    <main>
        <section class="pop-up-login">
            <form action="" method="post">

                <label for="">DNI</label>
                <input type="number" name="" id="" class="input-style">
                <label for="">CONTRASEÑA</label>
                <input type="password" name="" id="" class="input-style">
                <input class="btn-submit" type="submit" value="INGRESAR">
            </form>
        </section>
    </main>
</body>
</html>