<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesion</title>
    <link rel="icon" href="/images/escudo_solo.png">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <main>
        <img src="/images/escudo_nombre.png">
        <section class="login-btn-section">
            <a href="/login-personal-educativo">PERSONAL EDUCATIVO</a>
            <a href="/login-alumno">ESTUDIANTE</a>
            <a href="/login-padre">PADRE/TUTOR</a>
        </section>
    </main>
    <script src="js/home-script.js"></script>
</body>
</html>